:root {
  --c-red-100: #e14949;
  --c-red-200: #c73c3c;

  --c-orange-100: #ffebd9;
  --c-orange-200: #fdb271;
  --c-orange-300: #fc8117;
  --c-orange-400: #f6790d;

  --c-white-100: #fdfeff;
  --c-white-200: #f5f6fa;
  --c-white-300: #f0f1f8;

  --c-gray-100: #e7ebf1;
  --c-gray-200: #dde1e7;
  --c-gray-300: #cfd5dc;
  --c-gray-400: #bdc5cc;
  --c-gray-500: #5f676f;

  --c-deep-blue-100: #11314c;
  --c-deep-blue-200: #0a2943;

  --c-green-100: #36c244;
  --c-green-200: #32ad3e;
}

:root {
  --color-brand: var(--c-orange-300);
  --color-brand-hover: var(--c-orange-400);

  --color-background: var(--c-white-100);

  --color-text-dark: var(--c-deep-blue-100);
  --color-text-dark-mute: var(--c-gray-500);
  --color-text-light: var(--c-white-100);
  --color-text-light-mute: var(--c-gray-400);

  --color-heading: var(--c-deep-blue-200);

  --color-input: var(--c-white-200);

  --color-border: var(--c-gray-400);

  --color-error: var(--c-red-100);
  --color-error-hover: var(--c-red-200);
  --color-success: var(--c-green-100);
  --color-success-hover: var(--c-green-200);

  --color-disabled: var(--c-gray-300);

  --color-section: var(--c-white-300);
  --color-section-2: var(--c-gray-200);

  --color-received: var(--c-orange-100);
  --color-sent: var(--c-orange-300);

  --base-border-radius: 8px;

  --room-btn-size: 48px;
  --room-padding: 0.8rem;

  --z-splash: 1000;
  --z-toasts: 900;
  --z-dropdown: 800;
  --z-profile: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--c-gray-300);
  border-radius: var(--base-border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--c-gray-400);
}

::-webkit-scrollbar-track {
  background-color: var(--color-background);
  border-radius: var(--base-border-radius);
}

html {
  background: var(--color-background);
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: #ffebd978;

  @supports not selector(::-webkit-scrollbar) {
    & {
      scrollbar-width: thin;
      scrollbar-color: var(--c-gray-300) var(--color-background);
    }
  }
}

body {
  min-height: 100vh;
  color: var(--color-text-dark);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'Poppins',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
