:root {
  --c-red-100: #fc3217;

  --c-orange-100: #ffebd9;
  --c-orange-200: #fc8117;

  --c-white-100: #fdfeff;
  --c-white-200: #f5f6fa;
  --c-white-300: #f0f1f8;

  --c-gray-100: #e7ebf1;
  --c-gray-200: #dde1e7;
  --c-gray-300: #cfd5dc;

  --c-deep-blue-100: #11314c;
  --c-deep-blue-200: #0a2943;

  --c-green-100: #1fe333;
}

:root {
  --color-background: var(--c-white-100);

  --color-heading: var(--c-deep-blue-200);
  --color-text: var(--c-deep-blue-100);

  --color-link: var(--c-orange-200);
  --color-button: var(--c-orange-200);

  --color-input: var(--c-white-200);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'Poppins',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
